:root {
    --main-bg-color-green: #20B2AA;
    --blocked-bg-color-gray: #696969; 
    --booked-bg-color-red: #FF6347;
}

.booking-calendar-tile-selected {
    background-color: var(--main-bg-color-green);
}

.booking-calendar-tile-blocked {
    background-color: var(--blocked-bg-color-gray);
}

.booking-calendar-tile-booked {
    background-color: var(--booked-bg-color-red);
}

.booking-calendar-tile-available {
    background-color: white;
}

.calendar-legend {
    display: flex;
    text-align: center;
    width: 100%;


    .calendar-legend-item {
        display: flex;
        height: 40px;
        margin: 10px;
        border: black solid 3px;

        .calendar-legend-item-color {
            width: 40px;
            height: auto;
            border-right: black solid 1px;
        }

        .calendar-legend-item-label {
            margin: 10px;
        }
    }
    
}

@media (max-width: 800px) {
    .calendar-legend-item {
      flex: 100%;
    }
  }

.selectable-units {
    display: flex;
    justify-content: center;

    .unit-tile-content {
        max-width: 300px;
        max-height: 300px;
        border: black solid 2px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

